workflows/Got Tip.json
{
  "active": true,
  "connections": {
    "Start1": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Pseudo Forum",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Pas trouvé membre1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste les Tipeurs ?1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "Function3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function3": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTML 1st pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Identifiant": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrait mail & Tip": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Active Member": {
      "main": [
        [
          {
            "node": "Pseudo Forum2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cherche ID à partir de identifiant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cherche ID à partir de mail": {
      "main": [
        [
          {
            "node": "Active Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Cherche ID à partir de mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 1st pass": {
      "main": [
        [
          {
            "node": "Extract Identifiant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrait mail & Tip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pseudo Forum2": {
      "main": [
        [
          {
            "node": "Mail trouvé",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ajoute au groupe Tipeurs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cherche ID à partir de identifiant": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pseudo Forum": {
      "main": [
        [
          {
            "node": "Mail trouvé1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ajoute au groupe Tipeurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-04T01:24:01.697Z",
  "id": 19,
  "name": "Got Tip",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "vous+a+envoyé+un+Tip",
          "sender": "noreply@notification.tipeee.com"
        },
        "options": {}
      },
      "id": "33f77149-2721-4fe1-9ce1-623293f0bfa5",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1420,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "11",
          "name": "Gmail n8n"
        }
      }
    },
    {
      "parameters": {},
      "id": "199fd6e2-9393-4532-b470-97adacabb369",
      "name": "Start1",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1420,
        840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=textHtml",
              "value": "=<html> <body> <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"background-color:#dce0e1\"> <tbody> <tr> <td style=\"opacity:0;height:50px;\">Nouveau Tip de 20 € </td> </tr> <tr> <td style=\"text-align:center\"> <img src=\"https://api.tipeee.com/img/mails/tipeee-logo.png\" alt=\"Tipeee\" height=\"35\"> </td> </tr> <tr> <td style=\"height: 35px;\"></td> </tr> <tr> <td> <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\" style=\"width:540px;border-collapse:separate;\"> <tbody> <tr> <td style=\"height:160px;text-align:center;\"> <div style=\"height:80px;\"> <img src=\"https://www.tipeeestream.com/cdn-cgi/image/onerror=redirect,width=400,height=400,fit=cover/https://api.tipeee.com/uploads/media/image/jpeg/20220905/202209056315e82d8543f.jpeg\" alt=\"Tipeee\" width=\"160\" height=\"160\" style=\"border-radius:50%;\"> </div> <div style=\"height:80px;background-color:#ffffff;\"> </div> </td> </tr> <tr> <td> <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\" style='width:540px;border-collapse:separate;background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",\"Roboto\",\"Oxygen\",\"Ubuntu\",\"Cantarell\",\"Fira Sans\",\"Droid Sans\",\"Helvetica Neue\",sans-serif;'> <tr> <td colspan=\"3\" style=\"height:15px\"></td> </tr> <tr> <td width=\"35\"></td> <td> <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody> <tr> <td style='margin:0;padding-bottom:0;line-height: 1.4;font-size:30px;font-weight:700;color:#f21a2f;text-align:center;text-decoration:none;'> gatorette </td> </tr> <tr> <td style=\"height:15px\"></td> </tr> <tr> <td style=\"margin:0;padding-bottom:0;line-height: 1.2;font-size:32px;font-weight:500;color:#1b1b1b;text-align:center;text-decoration:none;\"> Nouveau Tip de<br> <span style=\"color:#f21a2f;font-weight:700;\"> 20 € </span> </td> </tr> <tr> <td style=\"height:25px\"></td> </tr> <tr> <td style=\"margin:0;padding-bottom:0;line-height: 1.2;font-size:16px;font-weight:400;color:#1b1b1b;text-align:center;text-decoration:none;\"><strong>Contreparties(s)&nbsp;: </strong><span style=\"color:#f21a2f;\">Mon hewo !!!</span></td> </tr> <tr> <td style=\"height:25px\"></td> </tr> <tr> <td style=\"margin:0;padding-bottom:0;line-height: 1.2;font-size:16px;font-weight:400;color:#1b1b1b;text-align:center;text-decoration:none;\"> <img src=\"https://api.tipeee.com/img/mails/message.png\" style=\"vertical-align:middle;\"> <a style=\"color:#3f75ff;font-weight:700;\" href=\"https://www.tipeee.com/inbox/new-thread/?user=1853334\">Envoyer un message</a> </td> </tr> <tr> <td style=\"height:5px\"></td> </tr> <tr> <td style=\"margin:0;padding-bottom:0;line-height: 1.2;font-size:16px;font-weight:400;color:#1b1b1b;text-align:center;text-decoration:none;\"> <img src=\"https://api.tipeee.com/img/mails/enveloppe.png\" style=\"vertical-align:middle;\"> <a style=\"color:#3f75ff;font-weight:700;\" href=\"mailto:gatorette@free.fr\">Contacter par e-mail</a> </td> </tr> </tbody> </table> </td> <td width=\"35\"></td> </tr> <tr> <td colspan=\"3\" style=\"height:30px;\"></td> </tr> </table> </td> </tr> <tr> <td style=\"height:35px\"></td> </tr> <tr> <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\" style='width:540px;border-collapse:separate;font-family:-apple-system,BlinkMacSystemFont,\"Segoe UI\",\"Roboto\",\"Oxygen\",\"Ubuntu\",\"Cantarell\",\"Fira Sans\",\"Droid Sans\",\"Helvetica Neue\",sans-serif;'> <tbody> <tr> <td style=\"text-align:center;color:#a5aaad;font-size:15px;font-weight:bold;\"> Suivez Tipeee sur : </td> </tr> <tr> <td style=\"height:10px\"></td> </tr> <tr> <td style=\"text-align: center;\"> <a href=\"https://www.facebook.com/TipeeeOfficiel\" style=\"margin-right: 10px; text-decoration:none;\"> <img src=\"https://api.tipeee.com/img/mails/facebook.png\" alt=\"Facebook\" width=\"39\"> </a> <a href=\"https://twitter.com/tipeee_officiel\" style=\"margin-right: 10px; text-decoration:none;\"> <img src=\"https://api.tipeee.com/img/mails/twitter.png\" alt=\"Twitter\" width=\"39\"> </a> <a href=\"https://www.youtube.com/channel/UCLJadsl33hJwT9jtzftRDRw\" style=\"text-decoration:none; margin-right: 10px;\"> <img src=\"https://api.tipeee.com/img/mails/youtube.png\" alt=\"YouTube\" width=\"39\"> </a> <a href=\"https://www.instagram.com/tipeee_officiel/\" style=\"text-decoration:none;\"> <img src=\"https://api.tipeee.com/img/mails/instagram.png\" alt=\"Instagram\" width=\"39\"> </a> </td> </tr> <tr> <td style=\"height:10px\"></td> </tr> <tr> <td style=\"text-align: center;color:#a5aaad;font-size:13px;font-weight:bold;\"> Pour gérer vos e-mails de notification, rendez-vous dans<br>les <a href=\"https://www.tipeee.com/account/notifications\" style=\"color:#a5aaad;font-weight:bold;text-decoration:underline;\">paramètres de votre compte</a>. </td> </tr> <tr> <td style=\"height:35px\"></td> </tr> </tbody> </table> </td> </tbody> </table> </td> </tr> <tbody> </table> <img src=\"http://tracker.nmp1.com/WBS?RAUihPGri0uC8qaJVGNXBfDwSqSZmVneI-KjDzj31qHVJsvUDbzyO8All3kdo4wrnjwJtgZEEXKohWC-DS-cbA/G2auLBXa31K4jZ4QdxWO0w.gif\" border=\"0\" alt=\"\" width=\"1\" height=\"1\" /></body> </html>\"textPlain\": \"Thierry TREGARO *Administrateur* cwowd - le participatif par ses utilisateurs p: 06 01 330 313 w: www.cwowd.com e: contact.cwowd@gmail.com <https://www.facebook.com/cwowdcom/> <https://twitter.com/cwowdRedac/> Retrouvez toutes les semaines toute l'actualité du participatif ludique. <https://www.cwowd.com/jeux-en-financement-participatif-la-revue-de-la-semaine-2020629/> ---------- Forwarded message --------- De : Tipeee <noreply@notification.tipeee.com> Date: dim. 4 sept. 2022 à 21:49 Subject: cwowd - Yoann vous a envoyé un Tip de 5 € To: kipik.kipik@gmail.com <kipik.kipik@gmail.com> Nouveau Tip de 5 € [image: Tipeee] [image: Tipeee] Yoann Nouveau Tip de 5 € *Contreparties(s) : *CONTWOL THE CWOWD ! Envoyer un message <https://www.tipeee.com/inbox/new-thread/?user=696987> Contacter par e-mail <yoann.terradura@gmail.com> Suivez Tipeee sur : [image: Facebook] <https://www.facebook.com/TipeeeOfficiel> [image: Twitter] <https://twitter.com/tipeee_officiel> [image: YouTube] <https://www.youtube.com/channel/UCLJadsl33hJwT9jtzftRDRw> [image: Instagram] <https://www.instagram.com/tipeee_officiel/> Pour gérer vos e-mails de notification, rendez-vous dans les paramètres de votre compte <https://www.tipeee.com/account/notifications>. \",\n\"metadata\": {\n\"delivered-to\": \"n8n.cwowd@gmail.com\",\n\"received\": \"by 2002:a05:6a20:41e:b0:92:7589:9d4d with SMTP id a30csp3205207pza; Sun, 4 Sep 2022 16:21:43 -0700 (PDT)\",\n\"x-received\": \"by 2002:a05:6512:1527:b0:48b:99:f3ff with SMTP id bq39-20020a056512152700b0048b0099f3ffmr15391069lfb.81.1662333703155; Sun, 04 Sep 2022 16:21:43 -0700 (PDT)\",\n\"arc-seal\": \"i=1; a=rsa-sha256; t=1662333703; cv=none; d=google.com; s=arc-20160816; b=yqDocgL2HfgRrUSsaKfkUoiSrxQSrti+u1GTIKOCw6BIt/iq1W+YNbO0Pwq8l6Sz99 SzhWN6VqiztEGF9noCkP8jvqCG0CZZB50x/Z7jtD1XVI6xDZpjR44G30DP0kvygEjU+K TIkWWmtovpmQOx1fyO/rpYIm2VRBesh78duqpj+2IsF8eCpFCrkk80U7bM53sUYiRJrK hLbQdLwDX767Af3JuCT2R86grbZusKbeaaBZ8ORCxLU29MzL6MQ4NALu80hPcEgPVDLl P42XQ1OJ+msc71ZF17SumHUD7Xg8Zv2kTmdx0e5sr40yXQyrJo1OKfZVu5hNsMQbix1K ZyHw==\",\n\"arc-message-signature\": \"i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816; h=to:subject:message-id:date:from:in-reply-to:references:mime-version :dkim-signature; bh=gWFDnVkqd97wiZv1U7Ak6qi5BVRhir+KgMOg+0UahCw=; b=CMcK/aSd9/kRfUJMfxL3T5laYrjbE5JstlkOiwXDse+fnp0OZbth+s5CKO9Vq8hrfc 3L3r28nYQWdvP20gXDg1yRv+E4JF8tOfjVHFQeLyqRScBU95Q1m7ZS7oTS8FXx6vyBIy 8BxLrFlEaAGHLwzY0tqelkQJMB0/UgRnxheE6byp/ayR7FqpiKdVaVNdvbA1SHkUjUhN ajr7tObRkVVo98fOwA5jnMmnPeaNjS6KG4mrR+DoYPnpMcK19jdV6OgtbxQfghby3igt Y1r7LE+6AL930VyiYd/Aur8qLvTZbqhV4fD3YELuTKNyEp+P1TiGXUVIcdggO4UfIWI0 QZ4Q==\",\n\"arc-authentication-results\": \"i=1; mx.google.com; dkim=pass header.i=@gmail.com header.s=20210112 header.b=O1YMLtNb; spf=pass (google.com: domain of kipik.kipik@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=kipik.kipik@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\n\"return-path\": \"<kipik.kipik@gmail.com>\",\n\"received-spf\": \"pass (google.com: domain of kipik.kipik@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;\",\n\"authentication-results\": \"mx.google.com; dkim=pass header.i=@gmail.com header.s=20210112 header.b=O1YMLtNb; spf=pass (google.com: domain of kipik.kipik@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=kipik.kipik@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\n\"dkim-signature\": \"v=1; a=rsa-sha256; c=relaxed/relaxed; d=gmail.com; s=20210112; h=to:subject:message-id:date:from:in-reply-to:references:mime-version :from:to:cc:subject:date; bh=gWFDnVkqd97wiZv1U7Ak6qi5BVRhir+KgMOg+0UahCw=; b=O1YMLtNbElVo1nXDZVCmrqneP6gkH95W2z4X+Xd+ET2eXXm5etH191b26RVwriIwWL Thzt4BxI1ARiH9/jds06/jLhsSREFgyIzxwuMwoVmAEaX66KrGbIK450UJvR1SizvyWa 52SAeM+LSL0rkfWu6AEVCe56HpH77lziVlcssnIzGGQuHdJNuneATQYdPYjUtsy/bp8z vytV8FcfybzvwQ8joai+PLTR61jBGVw6zCzFBsWB3NtiKHpkljKbOROql1L6qY5ZgfwK ypRlOjMzzj4VrCCyFUgYg3G/hmrThu8V67mOjEzbeOS3LZFCF9bZMUNlqTEim6g5lIem OsPw==\",\n\"x-google-dkim-signature\": \"v=1; a=rsa-sha256; c=relaxed/relaxed; d=1e100.net; s=20210112; h=to:subject:message-id:date:from:in-reply-to:references:mime-version :x-gm-message-state:from:to:cc:subject:date; bh=gWFDnVkqd97wiZv1U7Ak6qi5BVRhir+KgMOg+0UahCw=; b=wQjX9B2to2KhAYWr3C6seS4/Tu/s9ACIFeqLmUzyRopyPiRZIipI7+I0bm70axR8Nz QPmR8Zoaddbm62zWElcMfNoRmZxGj3ijmGDrB6NIZPKddyG//Eswmdjch3YYEFlt+iuR JGpHHU+wgLwV0Nl56OtPLj+Ehm/hlGSPL+XI1QHmtnggss50gZdwmSw6+u/xllPTIKea 3idvqrVY7sISuIPTqk3H8dx5PL/hgHZEzLIhx7u8NpvU6/2X/d5DwxODGrBPht0YQoOI Q7ox1VmsUgzd3I9LGUUlJa2IBPu7xyZM3sLvRQ3RWKB5bJkzzesjCaK5nHLvlYCECFMt jkgw==\",\n\"x-gm-message-state\": \"ACgBeo21R9ne3c9uHltiwGg42PgNGFCyMvwnM9UuULfNdPHReSba85Y/ PB9TKK5YhnBPrXWXd3LAuBHQr6b9z/KnHbf/xOTpGYvLbUk=\",\n\"x-google-smtp-source\": \"AA6agR703pu556dgtPyaQsA/rAZTUTsqK18HMcikmoDV0t6QnH+2ghgGu7HPXJXCGfg2ztPvI+UnoGRkaNhAG+E8+3w=\",\n\"mime-version\": \"1.0\",\n\"references\": \"<2.2.2.1101002363.1740740.1662320966105@notification.tipeee.com>\",\n\"in-reply-to\": \"<2.2.2.1101002363.1740740.1662320966105@notification.tipeee.com>\",\n\"message-id\": \"<CALCaUXE7Fw+X8n4VK422Cd7x7a-q9zknwUrGDFGefYg=azSF0g@mail.gmail.com>\",\n\"content-type\": \"multipart/alternative; boundary=\"000000000000d1ad9705e7e2391c\"\"\n},\n\"from\": \"\"Thierry Tregaro | cwowd.com\" <contact.cwowd@gmail.com>\",\n\"date\": \"Mon, 5 Sep 2022 01:21:31 +0200\",\n\"subject\": \"Fwd: cwowd - Yoann vous a envoyé un Tip de 5 €\",\n\"to\": \"n8n.cwowd@gmail.com\""
            }
          ]
        },
        "options": {}
      },
      "id": "152753c1-48cb-4868-932a-52f1a44e64b3",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1220,
        840
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appX87LVPNK91hFX0",
        "table": "tblLwIh17DMXvuYh1",
        "options": {}
      },
      "id": "a00ed94e-9920-4cec-8fc7-45b82a559356",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1020,
        640
      ],
      "credentials": {
        "airtableApi": {
          "id": "2",
          "name": "Airtable Thierry"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "requestMethod": "PUT",
        "url": "https://forum.cwowd.com/groups/41/members.json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "usernames",
              "value": "={{$json[\"Pseudo Forum\"]}}"
            }
          ]
        }
      },
      "id": "1674a3f3-9a00-4886-90f8-d0d8ab42eec2",
      "name": "Ajoute au groupe Tipeurs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        260,
        240
      ],
      "credentials": {
        "discourseApi": {
          "id": "8",
          "name": "Discourse n8nAuto"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Pseudo Forum",
              "value": "={{$json[\"0\"][\"username\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f15e79e-b7d3-434e-a366-8e318a80807a",
      "name": "Pseudo Forum2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        60,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"0\"][\"active\"]}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "id": "3e0d4681-e8f7-4f42-9575-31f62d7de3c1",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        500
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Bienfaiteur introuvable",
        "message": "=Rien trouvé dans les membres à propos de :\n\nContrepartie : {{$node[\"Merge\"].json[\"Montant des Tips\"]}}\nEmail tipeur : {{$node[\"Merge\"].json[\"Email\"]}}\nPseudo : {{$node[\"Merge\"].json[\"Identifiant\"]}}",
        "toList": [
          "kipik.kipik@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "40bc13b1-943a-4504-aaa6-b867bde1e791",
      "name": "Email Pas trouvé membre1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        480,
        600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "11",
          "name": "Gmail n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "url": "=https://forum.cwowd.com/groups/Tipeurs/members.json",
        "options": {
          "fullResponse": false
        },
        "headerParametersUi": {
          "parameter": [
            {}
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        }
      },
      "id": "b5474558-4762-44b5-9cae-15ecfdec9e48",
      "name": "Liste les Tipeurs ?1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        840
      ],
      "credentials": {
        "discourseApi": {
          "id": "7",
          "name": "Discourse account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "members",
        "options": {}
      },
      "id": "f30e9074-8d71-4e89-b8e8-d7d0d79e9502",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        920,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json[\"username\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "f0518931-516d-40a6-9134-a248e7da2762",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1100,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"username\"]}}",
              "operation": "contains",
              "value2": "={{$node[\"Merge3\"].json[\"Pseudo Forum\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f7fa7114-1048-4b10-a591-89f92e743aae",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        1060
      ]
    },
    {
      "parameters": {
        "functionCode": "var pseudo = $node[\"Merge1\"].json[\"Pseudo Forum\"];\n\nlet test = $node[\"Set2\"].json[\"username\"].includes(pseudo);\n\nreturn {\n  test\n};"
      },
      "id": "078300b0-c9c6-48ad-ae42-13247bc81a28",
      "name": "Function3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"test\"] }}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "id": "429e4a84-ebaa-4c89-b765-9a93c2d160e6",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1660,
        820
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "pseudo",
        "extractionValues": {
          "values": [
            {
              "key": "Identifiant",
              "cssSelector": "tr:first-child"
            }
          ]
        },
        "options": {}
      },
      "id": "71d942cf-71d9-4049-994d-e99234ca8c9c",
      "name": "Extract Identifiant",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -880,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$json[\"mail\"][1].split(':')[1]}}"
            },
            {
              "name": "soutien",
              "value": "={{$json[\"Tableau\"].split(\"€\")[0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "18c088d2-f3ba-490e-934f-2f5601a809d6",
      "name": "Extrait mail & Tip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -880,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"0\"][\"active\"]}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "id": "3412212f-e242-4178-8326-632654510c9f",
      "name": "Active Member",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "url": "https://forum.cwowd.com/admin/users/list/active.json?",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "filter",
              "value": "={{$json[\"email\"]}}"
            }
          ]
        }
      },
      "id": "7e47dcc5-6e0b-4d9e-b582-09692a04856c",
      "name": "Cherche ID à partir de mail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -400,
        320
      ],
      "credentials": {
        "discourseApi": {
          "id": "8",
          "name": "Discourse n8nAuto"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "17e5ca86-68fb-4f66-94ec-25a97821afd5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -620,
        320
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "Tableau",
              "cssSelector": "span"
            },
            {
              "key": "mail",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "pseudo",
              "cssSelector": "table > tbody > tr > td:nth-child(2)",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "49b928b3-5be7-478b-b47f-d56e5b8aefdd",
      "name": "HTML 1st pass",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -1160,
        320
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Im my pocket !",
        "message": "=Contrepartie : {{$node[\"Merge\"].json[\"soutien\"]}}€\nEmail tipeur : {{$node[\"Merge\"].json[\"email\"]}}\nPseudo : {{$json[\"Pseudo Forum\"]}} (Identifiant Tipeee : {{$node[\"Merge\"].json[\"Identifiant\"]}} )",
        "toList": [
          "kipik.kipik@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "7ce692fe-1a74-46df-807d-24c5e1a8c983",
      "name": "Mail trouvé",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        260,
        40
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "11",
          "name": "Gmail n8n"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "url": "https://forum.cwowd.com/admin/users/list/active.json?",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "filter",
              "value": "={{$node[\"Merge\"].json[\"Identifiant\"]}}"
            }
          ]
        }
      },
      "id": "ffbb0140-e231-49fc-b446-207df1c692ef",
      "name": "Cherche ID à partir de identifiant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        60,
        500
      ],
      "credentials": {
        "discourseApi": {
          "id": "8",
          "name": "Discourse n8nAuto"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "requestMethod": "PUT",
        "url": "https://forum.cwowd.com/groups/41/members.json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "usernames",
              "value": "={{$json[\"Pseudo Forum\"]}}"
            }
          ]
        }
      },
      "id": "d513d4fd-47ef-46f7-aa69-38380f5afce4",
      "name": "Ajoute au groupe Tipeurs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        680,
        460
      ],
      "credentials": {
        "discourseApi": {
          "id": "8",
          "name": "Discourse n8nAuto"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Pseudo Forum",
              "value": "={{$json[\"0\"][\"username\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2e2c911-9bd4-4633-878f-c283857f9fb3",
      "name": "Pseudo Forum",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Im my pocket !",
        "message": "=Contrepartie : {{$node[\"Merge\"].json[\"soutien\"]}}€\nEmail tipeur : {{$node[\"Merge\"].json[\"email\"]}}\nPseudo : {{$json[\"Pseudo Forum\"]}} (Identifiant Tipeee : {{$node[\"Merge\"].json[\"Identifiant\"]}} )",
        "toList": [
          "kipik.kipik@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "e209bba8-a3a3-400d-bb15-4b8cbd610566",
      "name": "Mail trouvé1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        680,
        260
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "11",
          "name": "Gmail n8n"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": "1672959655"
    }
  },
  "tags": [],
  "updatedAt": "2023-01-05T23:00:55.000Z"
}